createdAt: "2018-06-12T08:29:07.870Z"
updatedAt: "2018-06-12T08:30:00.204Z"
type: "SNIPPET_NOTE"
folder: "3acfe59efd087551a1e7"
title: "QRCode generate with ZXing.NET"
description: '''
  QRCode generate with ZXing.NET
  
'''
snippets: [
  {
    name: "1.cs"
    mode: "C#"
    content: '''
      public Bitmap GenerateQrImage(int width, int height, string text)
      {
          var bw = new BarcodeWriter();
      
          var encOptions = new ZXing.Common.EncodingOptions
          {
              Width = width,
              Height = height,
              Margin = 0,
              PureBarcode = false
          };
      
          encOptions.Hints.Add(EncodeHintType.ERROR_CORRECTION, ErrorCorrectionLevel.H);
      
          bw.Renderer = new BitmapRenderer();
          bw.Options = encOptions;
          bw.Format = ZXing.BarcodeFormat.QR_CODE;
          var bm = bw.Write(text);
        
          // Custom overlay
          var overlay = new BitmapImage(new Uri(@"pack://application:,,,/Resource/Image/wechat-logo.png", UriKind.Absolute)).ToBitmap();
          const int OverlayHeight = 50;
          const int OverlayWidth = 50;
      
          var deltaHeigth = bm.Height - OverlayHeight;
          var deltaWidth = bm.Width - OverlayWidth;
      
          Graphics g = Graphics.FromImage(bm);
          g.DrawImage(overlay,  
              new Rectangle(new System.Drawing.Point(deltaWidth / 2,deltaHeigth / 2), new System.Drawing.Size(OverlayHeight, OverlayWidth)));
      
          return bm;
      }
    '''
  }
]
tags: [
  "C#"
]
isStarred: false
isTrashed: false
